post_id,post_category,item_category,discount,item_name,item_price,item_currency,item_url,payment_method,site,warehouse_id,warehouse_region,warehouse_location,item_weight,region,post_title,post_content
oyTvRC6RQynyXJWGmhdyBW,electronics,"Camera, Photo & Video",,【尋寶區】日本 Fujifilm Instax Mini 12 即影即有相機 (Lilac Purple 紫色),7710,JPY,https://www.buyandship.today/sharing/mall/home/,,hk,warehouse-qs-osaka,Japan,Ibaraki,2,hk,【尋寶區】Fujifilm Instax Mini 12 即影即有相機 (Lilac Purple 紫色) 📸 [現貨],"- 顏色：Lilac Purple 紫色
- 型號：Instax Mini 12

❗️平行進口貨品，恕不設退換並不提供保養服務
🥛型號及容量均以圖片為準
✏️磅數只供參考，如有差異，恕不作調整
⚠️ 此為香港現貨，預計下單後2-3個工作天可合併"